fieldset {
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 10px;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
button{
    height: 35px;
    width: 70px;
    background-color: #000055;
    color: white;
}
button:hover{
    background-color: darkred;
    color: white;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.sub {
    height: 40px;
    width: 80px;
}

