.hot-survey {
    margin-top: 40px;
    border: 1px solid #DDDDDD;

}

.survey {
    float: left;
    margin-left: 50px;
    margin-bottom: 30px;
    border: 1px solid #DDDDDD;
    width: 225px;
}

.survey img {
    width: 200px;
    height: 170px;
    background-color: #DDDDDD;
    margin: 10px;
}

.survey .name {
    height: 50px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: 5px;
}

.public-survey {
    margin-top: 60px;
    border: 1px solid #DDDDDD;
    margin-bottom: 40px;
}

legend {
    padding-left: 50px;
    font-weight: bold;
    font-size: 25px;
    color: black;
}